---
const description = "404";
import '../styles/global.css';
---
<section class="lost">
    <div class="gif">
        <img width="256" alt="error" class="pulsing-cow" src="/cow.png"/>
    </div>
    <h1 class="lost__header">{ description }</h1>
    <p class="lost__body">
        Esta ruta no existe
    </p>
    <p>
        <a class="lost__link" href="/">Return Home</a>
    </p>
</section>

