---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img height="200" alt="book" style="margin-top: 20px;" src="/book.webp"/>
    </div>
    <h2>Posts</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.instagram.com/figureverse3d/"
            image="/fv3d.webp"
            title="FigureVerse 3D"
            body="Empresa de impresiones 3D en la cual participo"
        />
        <Card
            url="https://t.me/cyberia111"
            image="/cyb.webp"
            title="CY-B"
            body="Canal de Telegram en el cual comparto edits hecho en Krita"
        />
    </ul>
</Layout>

